In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
import matplotlib

%matplotlib inline

# 시계열 데이터

In [ ]:
from datetime import datetime

<img src="img/분석8/datetime.jpg" alt="datetime" style="width: 1200px;"/>

## 1. strftime()으로 날짜 타입의 변수를 문자열로 변환하기

In [ ]:
# now 변수를 2018-05-25 형식으로 출력

In [ ]:
# 실습 - now 변수를 2018/05/25 11:20:30.231452 형식으로 출력

In [ ]:
# 실습 2. now 변수를 2018년 5월 25일로 출력

## 2. strptime()으로 문자열을 날짜 타입으로 변환하기

In [ ]:
문자열 = '18/06/21'

## 3. 음식 주문 데이터(food_order.xlsx)로 실습

In [ ]:
# 데이터 읽기
식당 = pd.read_excel('data/food_order.xlsx')

In [ ]:
# 데이터 조회
식당.head()

In [ ]:
# 언제부터 언제까지의 데이터가 있는지 확인.
print(식당.date.min(), 식당.date.max())

In [ ]:
# 'date' 컬럼을 index label로 지정

In [ ]:
# 2014년 데이터만 선택하여 출력

In [ ]:
# 2015년 1월 데이터만 선택하여 출력

In [ ]:
# 2014년 8월 1일부터 2014년 9월 25일까지 데이터만 출력

In [ ]:
# 2015년 6월 30일 데이터만 출력

### date_range()를 활용한 고급 기법
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.date_range.html

In [ ]:
# 특정 기간의 날짜 생성

In [ ]:
# start 날짜를 기준으로 periods 갯수만큼 날짜 생성

In [ ]:
#특정 주기로 날짜를 생성 - freq 인자
# 상세 내용은 https://pandas.pydata.org/pandas-docs/stable/timeseries.html#timeseries-offset-aliases 확인


# D: 일단위
# W: 주 단위 (일요일만 선택)
# W-MON: 주 단위이되, 월요일만 선택
# W-TUE: 주 단위이되, 화요일만 선택. WED, THU, FRI, SAT, SUN 모두 가능
# M: 매달 마지막날만 선택
# MS: 매달 첫째날만 선택
# B: 주중만 선택 (Business day)

In [ ]:
# 식당 데이터 중 월요일 데이터만 선택하여 출력
# date_range()를 이용하여, 2013-08-06~ 2015-07-27까지 
# 1) 매주 월요일만 가지고 있는 리스트 생성

In [ ]:
# 2) 조건 색인을 이용하여, 매주월요일 데이터만 선택하여 출력

## 분석 실습
### 1. 전체 기간 동안, 가장 많은 판매량을 올렸던 날 찾기
### 2. 전체 기간 동안, 아침, 점심, 저녁 메뉴로 가장 인기 있었던 메뉴를 각각 착기
### 3. 2014년 한 해 동안 가장 많은 판매량을 올린 메뉴 찾기
### 4. 2014년 한 해 동안 각 코너 별로 판매량을 그래프로 표현

In [ ]:
# 1. 전체 기간 동안, 가장 많은 판매량을 올렸던 날 찾기

In [ ]:
# 2. 전체 기간 동안, 아침, 점심, 저녁 메뉴로 가장 인기 있었던 메뉴를 각각 착기

In [ ]:
# 3. 2014년 한 해 동안 가장 많은 판매량을 올린 메뉴 찾기

In [ ]:
# 4. 2014년 한 해 동안 각 코너 별로 월별 판매량을 그래프로 표현

## pivot_table()을 이용한 데이터 집계

# 년도별 코너별 판매량 
<img src="img/분석8/pivot_table.jpg" alt="pivot_table" style="width: 1200px;"/>