# 영화 평점 분석 실습

In [2]:
import pandas as pd
from pandas import Series, DataFrame

In [7]:
#1. 사용자 데이터 읽어오기
users = pd.read_csv('data/movielens/users.dat', sep='::',
           names = ['사용자아이디', '성별', '연령','직업','지역']) #seperator가 엔진을 파이썬으로 설정하라는 경고가 나옴.
users[:5]

   사용자아이디 성별  연령  직업     지역
0       1  F   1  10  48067
1       2  M  56  16  70072
2       3  M  25  15  55117
3       4  M  45   7  02460
4       5  M  25  20  55455

In [8]:
# 2. 평점 데이터 읽어오기
# 데이터 파일 : data/movielens/ratings.dat
# 컬럼명들은 ['사용자아이디', '영화아이디', '평점', '타임스탬프']
ratings  = 
ratings[:5]

   사용자아이디  영화아이디  평점      타임스탬프
0       1   1193   5  978300760
1       1    661   3  978302109
2       1    914   3  978301968
3       1   3408   4  978300275
4       1   2355   5  978824291

In [11]:
#3. 영화 데이터 읽어오기
#데이터 파일: data/movielens/movies.dat
# 컬럼명 :  ['영화아이디', '영화제목', '장르']
movies = 
movies[:5]

   영화아이디                                영화제목                            장르
0      1                    Toy Story (1995)   Animation|Children's|Comedy
1      2                      Jumanji (1995)  Adventure|Children's|Fantasy
2      3             Grumpier Old Men (1995)                Comedy|Romance
3      4            Waiting to Exhale (1995)                  Comedy|Drama
4      5  Father of the Bride Part II (1995)                        Comedy

In [ ]:
#4. 3개의 데이터프레임을 하나로 합치기

In [ ]:
#5. 영화별 평점 구하기

## 계층적 색인 
### 2개 이상의 색인(인덱스)를 지정할 수 있다. 
### 차원이 높은 (고차원) 데이터를 낮은 차원의 형식으로 다룰 수 있게 해주는 기능