# 1. 산술 연산

In [68]:
import pandas as pd
from pandas import Series, DataFrame

## 1) Series 산술연산
### - 같은 인덱스 라벨을 가진 항목끼리 산술 연산을 수행함.
### - 겹치는 인덱스가 없다면, 데이터는 NA가 된다.

In [69]:
s1 = Series ([3,5,-1, 5.7], index = ['a','c','d','b'])
s1

a    3.0
c    5.0
d   -1.0
b    5.7
dtype: float64

In [70]:
#실습 1. 아래와 같이  s2 Series 생성하기

a     5.3
d    -3.0
b    10.0
c     5.0
e    -2.0
dtype: float64

In [ ]:
s1+s2

## 2) DataFrame 산술연산

In [21]:
#실습 2. 아래와 같이 df1 DataFrame 생성

          b  c  d
Ohio      0  1  2
Texas     3  4  5
Colorado  6  7  8

In [22]:
#실습 3. 아래와 같이 df2 DataFrame 생성

        b   d   e
Utah    0   1   2
Ohio    3   4   5
Texas   6   7   8
Oregon  9  10  11

In [ ]:
# DataFrame의 경우, 컬럼과 인덱스 이름 모두 동일한 경우에만 산술 연산이 수행됨.
df1 + df2

In [ ]:
df1.add(df2)
#df1 + df2와 동일하지만, 함수로 사용하는 경우에는 다양한 파라미터 설정이 가능해짐.

In [ ]:
df1.add(df2, fill_value = 0)
#fill_value = <값> : Missing Value를 <값>으로 간주함. 두 데이터프레임에 모두 없는 경우에는 결과도 Missing
# http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.add.html#pandas.DataFrame.add

## DataFrame 산술 연산
<img src="img/분석3/데이터프레임add.jpg" alt="Add" style="width: 1000px;"/>

### 산술연산 함수
<img src="img/분석3/산술연산.jpg" alt="산술연산" style="width: 200px;"/>

## 3) DataFrame과 Series 간의 연산

### DataFrame과 Series 간의 산술연산은 Series의 색인을 DataFrame의 칼럼에 맞추고 아래로 전파한다.

## 4) 함수 적용과 매핑

### apply() :각 로우나 컬럼의 1차원 배열에 함수를 적용
### applymap() : 각 항목에 함수를 적용

#### 4-1) apply() 함수

#### 4-2) applymap() 함수

# 2. 정렬

In [ ]:
# sort_index() : 인덱스 라벨로 정렬하기

In [ ]:
# sort_values() : 데이터 정렬하기

<img src="img/분석3/데이터프레임정렬.jpg" alt="DataFrame.sort_values" style="width: 600px;"/>

### http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sort_values.html#pandas.DataFrame.sort_values

# 3. 통계 함수
## 3-1) 주요 통계 함수 목록
<img src="img/분석3/통계함수.jpg" alt="통계함수" style="width: 400px;"/>

## 3-2) 주요 함수 옵션
<img src="img/분석3/주요함수옵션.jpg" alt="주요옵션" style="width: 400px;"/>

### ** axis는 통계함수 뿐만 아니라, 많은 함수에서 동일하게 적용됨. **

# 4. 데이터 합치기
## 4-1) pandas.merge() 
     - 키를 기준으로 DataFrame의 로우를 합친다. SQL이나 다른 관계형 데이터베이스의 join 연산과 동일함.
     - 주요 파라미터        
        . left, right : merge할 DataFrame 객체이름
        . how = 'inner', #left, right, outer
        . on = None, #merge의 기준이 되는 컬럼
        . left_on = None, #left DataFrame의 기준 컬럼
        . right_on = None, #right DataFrame의 기준 컬럼

In [111]:
df_left = DataFrame({'KEY': ['k0', 'k1', 'k2', 'k3'],
                     'A': ['a0', 'a1', 'a2', 'a3'],
                     'B': ['b0', 'b1', 'b2', 'b3']})

In [116]:
df_right = DataFrame({'KEY': ['k2', 'k3', 'k4', 'k5'],
                     'C': ['c2', 'c3', 'c4', 'c5'],
                     'D': ['d2', 'd3', 'd4', 'd5']})

In [123]:
# 실습 아래 2개의 DataFrame을 K1과 K2 컬럼으로 outer merge
df_left2 = DataFrame({'K1': ['k0', 'k1', 'k2', 'k3'],
                     'A': ['a0', 'a1', 'a2', 'a3'],
                     'B': ['b0', 'b1', 'b2', 'b3']})
df_right2 = DataFrame({'K2': ['k2', 'k3', 'k4', 'k5'],
                     'C': ['c2', 'c3', 'c4', 'c5'],
                     'D': ['d2', 'd3', 'd4', 'd5']})

## 4-2) pandas.concat()
  * 주요 함수 인자들
   - objs :이어붙일 데이터 객체
   - axis = 0 :이어붙일 축 방향. 기본값은 0 (index)
   - join = outer: 조인 방식. inner는 교집합, outer는 합집합.

### 4-2-1) Series와 Series의 concat()

### 4-2-2) DataFrame과 Series의 concat()

### 4-2-3) DataFrame.append()

# 5. 영화평점 분석 실습

In [ ]:
.