# 1. 야구 데이터 분석을 통한 복습

In [3]:
%matplotlib nbagg
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [4]:
NC = pd.read_excel('data/NC Dinos.xlsx')

In [5]:
NC.head()

,선수명,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR
0,모창민,NC,108,436,395,109,12,57,51,37,68,16,0.307,0.276,0.339,0.443,0.782,0.353,2.31
1,이호준,NC,126,508,442,123,20,46,87,60,109,2,0.324,0.278,0.362,0.475,0.837,0.373,1.85
2,김종호,NC,128,546,465,129,0,72,22,57,100,50,0.352,0.277,0.376,0.333,0.709,0.339,1.55
3,나성범,NC,104,458,404,98,14,55,64,33,95,12,0.279,0.243,0.319,0.416,0.735,0.329,1.50
4,조영훈,NC,120,426,380,107,6,38,39,39,56,4,0.316,0.282,0.350,0.413,0.763,0.348,0.83

In [6]:
NC = NC.set_index('선수명')

In [7]:
NC.head(10)

,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR
선수명,,,,,,,,,,,,,,,,,,
모창민,NC,108,436,395,109,12,57,51,37,68,16,0.307,0.276,0.339,0.443,0.782,0.353,2.31
이호준,NC,126,508,442,123,20,46,87,60,109,2,0.324,0.278,0.362,0.475,0.837,0.373,1.85
김종호,NC,128,546,465,129,0,72,22,57,100,50,0.352,0.277,0.376,0.333,0.709,0.339,1.55
나성범,NC,104,458,404,98,14,55,64,33,95,12,0.279,0.243,0.319,0.416,0.735,0.329,1.50
조영훈,NC,120,426,380,107,6,38,39,39,56,4,0.316,0.282,0.350,0.413,0.763,0.348,0.83
이현곤,NC,91,161,139,38,0,10,9,16,14,2,0.304,0.273,0.361,0.324,0.685,0.327,0.52
이상호,NC,102,138,125,31,0,26,13,9,21,24,0.298,0.248,0.299,0.320,0.619,0.289,0.16
강진성,NC,3,3,2,1,0,1,0,1,0,0,0.500,0.500,0.667,1.000,1.667,0.671,0.10
조평호,NC,26,86,79,21,2,12,7,6,24,1,0.358,0.266,0.318,0.418,0.736,0.329,0.09
박민우,NC,32,48,42,11,0,10,6,5,7,9,0.306,0.262,0.333,0.286,0.619,0.296,0.07

In [12]:
NC[:5] #원래 loc를 써야 라벨 색인을 선택하는 것인데, 예외적으로 선택 연산이 있으면  라벨 색인을 선택함.

,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR
선수명,,,,,,,,,,,,,,,,,,
모창민,NC,108,436,395,109,12,57,51,37,68,16,0.307,0.276,0.339,0.443,0.782,0.353,2.31
이호준,NC,126,508,442,123,20,46,87,60,109,2,0.324,0.278,0.362,0.475,0.837,0.373,1.85
김종호,NC,128,546,465,129,0,72,22,57,100,50,0.352,0.277,0.376,0.333,0.709,0.339,1.55
나성범,NC,104,458,404,98,14,55,64,33,95,12,0.279,0.243,0.319,0.416,0.735,0.329,1.50
조영훈,NC,120,426,380,107,6,38,39,39,56,4,0.316,0.282,0.350,0.413,0.763,0.348,0.83

In [13]:
#1~5번째 컬럼을 선택하고 싶을 때. iloc 사용
NC.iloc[:, :5]

     팀명   경기   타석   타수   안타
선수명
모창민  NC  108  436  395  109
이호준  NC  126  508  442  123
김종호  NC  128  546  465  129
나성범  NC  104  458  404   98
조영훈  NC  120  426  380  107
이현곤  NC   91  161  139   38
이상호  NC  102  138  125   31
강진성  NC    3    3    2    1
조평호  NC   26   86   79   21
박민우  NC   32   48   42   11
박정준  NC   77  195  167   41
이승호  NC    2    1    0    0
마낙길  NC   24   31   29    9
김성욱  NC    4    4    4    1
강구성  NC    2    2    2    0
지석훈  NC  104  356  309   68
김종찬  NC    5    7    7    1
차화준  NC   58  121  106   24
김동건  NC    7   17   16    2
이창섭  NC    5    5    5    0

In [9]:
#라벨 슬라이스도 지원
#정수 슬라이스는 start<= x < end
#라벨 슬라이스는 start<= x <= end (end값도 포함)
NC['나성범':'박민우']

,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR
선수명,,,,,,,,,,,,,,,,,,
나성범,NC,104,458,404,98,14,55,64,33,95,12,0.279,0.243,0.319,0.416,0.735,0.329,1.50
조영훈,NC,120,426,380,107,6,38,39,39,56,4,0.316,0.282,0.350,0.413,0.763,0.348,0.83
이현곤,NC,91,161,139,38,0,10,9,16,14,2,0.304,0.273,0.361,0.324,0.685,0.327,0.52
이상호,NC,102,138,125,31,0,26,13,9,21,24,0.298,0.248,0.299,0.320,0.619,0.289,0.16
강진성,NC,3,3,2,1,0,1,0,1,0,0,0.500,0.500,0.667,1.000,1.667,0.671,0.10
조평호,NC,26,86,79,21,2,12,7,6,24,1,0.358,0.266,0.318,0.418,0.736,0.329,0.09
박민우,NC,32,48,42,11,0,10,6,5,7,9,0.306,0.262,0.333,0.286,0.619,0.296,0.07

In [10]:
#실습 1. 위와 같이 나성범~박민우 선수의 데이터들 중, 타석부터 도루까지만 출력

      타석   타수   안타  홈런  득점  타점  볼넷  삼진  도루
선수명
나성범  458  404   98  14  55  64  33  95  12
조영훈  426  380  107   6  38  39  39  56   4
이현곤  161  139   38   0  10   9  16  14   2
이상호  138  125   31   0  26  13   9  21  24
강진성    3    2    1   0   1   0   1   0   0
조평호   86   79   21   2  12   7   6  24   1
박민우   48   42   11   0  10   6   5   7   9

In [11]:
#실습 2. 나성범과 이호준 선수의 타석, 홈런, 안타만 출력

      타석  홈런   안타
선수명
나성범  458  14   98
이호준  508  20  123

In [ ]:
# 실습 3. 안타를 50개 이상 친 선수들에 대해서 다음을 수행
# 3-1. 안타의 갯수로 내림차순 정렬

In [ ]:
# 3-2. 상위 3명의 선수들의 '타석'부터 '도루' 열만 출력
#안타많이.loc['김종호':'모창민', '타석':'도루']
안타많이.iloc[:3, 2:11]

In [ ]:
# 모든 시트 읽어오기

In [ ]:
# 년도별 분석 실습

# matplotlib를 활용한 데이터 시각화
## 왕좌의 게임 데이터으로 실습

In [14]:
battles = pd.read_csv('data/data-society-game-of-thrones/battles.csv')
death = pd.read_csv('data/data-society-game-of-thrones/character-deaths.csv')

### 실습 1. 책의 챕터별로 사망자 수의 추이를 그려보자!

### 실습 2. 대규모 전쟁의  공격진영과 수비 진영의 숫자를 그래프로 그려보자!
#### 대규모 전쟁 = 공격과 수비 모두 합쳐서 10,000명 이상 참가한 전쟁

### 실습 3. 가문 별로 전쟁을 벌인 횟수를 그래프로 그려보자!

### 실습 4. 년도별로 사망자의 숫자와 전쟁이 벌어진 횟수를 함께 그려보자!